

.login-main {
    width: 100vw;
    height: 100vh;
    background-color: #8F74C0;
    background-image: url('../../assets/Login1.png');
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.topmargin {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* padding-top: 350px; */
}


.login-cred-container {
    /* display: flex; */
    /* flex-direction: column; */
    align-content: center;
    background-color: #997ECA;
    font-size: 25px;
    font-weight: 10;
    padding: 17.5px;
    z-index: 1;
    color: white;
}

.input-box {
    height: 55px;
    margin-top: 5px;
    background-color: #A48CD2;
    color: #D5CCE5;
    border: 2px;
    border-color: #D5CCE5;
    width: 100%;
}

.sign-in-btn {
    background-color: #8C71BF;
    color: white;
    height: 60px;
    width: 100%;
    margin-top: 5px;
    border: 2px;
    border-color: #D5CCE5;
}

.links-container {
    align-content: center;
    background-color: #997ECA;
    font-size: 25px;
    font-weight: 10;
    padding: 17.5px;
    width: 414px;
}
.register, .password {
    text-decoration: none;
    color: white;
    height: 60px;
    font: 40px;
    
}
.register {
    background-color: #8F74C0;
}
.password {
    background-color: #997ECA;
}
.links-content {
    flex-direction: row;
    justify-content: space-around;
}