.search {
    height: 30px;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border: 1px solid #D5CCE5;
    display: flex;
    position: fixed;
    top: 58px;
    z-index: 1;
}
.search-input {
    color: purple;
    font: bold;
    text-decoration: none;
    outline: none;
}
.search-by {
    text-decoration: none;
    outline: none;

}
.vcards {
    margin: 0;
    padding: 2px;
    color: white;
    text-decoration: none;
    flex-wrap: inherit;
}
.venue-pic {
    z-index: -1;
    width: 100vw;
    height: 200px;   
}
.fav-button {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 5;
    font-size: 4rem;
}
